
/* BANNER */

.carousel-inner .carousel-item {

    position: relative;
    width: 100%;
    padding-top: 18%;
    padding-bottom: 18%;
}

.carousel-inner .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    background-color: black;
    filter: brightness(0.4);
}



main .header-cad{
    text-align: left;
    margin:1%;
}
